 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: monospace;
 }

 .hero{
   width: 100%;
   height: 100vh;
   background-image: url("Coventic Webpage images/background.png");
   background-size: cover;
   background-position:center ;
   position: relative;
   overflow: hidden;
 }

 .nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 80%;
   height: 15%;
   margin:auto ;
 }

 .logo{
   cursor: pointer;
   width: 150px;  
 }

 .nav button{
   border: 1px solid white;
   outline: none;
   background-color: transparent;
   color: #fff;
   padding: 10px 20px;
   border-radius: 20px;
   cursor: pointer;
 }

 .content{
   position: absolute;
   top: 30%;
   left: 10%;
   transform: translateY(50%);
   color: #fff;
 }

 .content h1{
   font-size: 50px;
   font-weight: bold;
 }

 .content small{
   font-size: 15px;
 }

 .content button{
   background: transparent;
   border: 1px solid #fff;
   padding: 10px 20px;
   font-size: 30px;
   color: #fff;
   border-radius: 30px;
   margin-top: 20px;
   cursor: pointer;
 }

 .side-menu{
  width: 60px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(51, 111, 63, 0.284);
 }

 .side-menu img{
  margin: 40% 20% 10%;
  height: 30px;
  cursor: pointer;
  position: relative;
 }

 .social-links{
    position: absolute;
    top: 280px;
 }

 .useful-links{
  position: absolute;
    bottom: 0;
 }